@using IMS.DataContext
@{
    Layout = null;
    IMSContext db = new IMSContext();
}

@model IEnumerable<IMS.DataContext.SupplierPayment>
<script src="~/Scripts/bootbox.min.js"></script>


<table id="example" class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>S.No.</td>
            <th class="hidden">Id</th>
            <th>Payment Number</th>
            <th>Payment Date</th>
            <th>Supplier Name</th>
            <th>Payment Amount</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 0;
        }
        @if (Model.Count() > 0)
        {
            foreach (var i in Model)
            {
                index++;
                <tr>
                    <td>@index</td>
                    <td class="hidden">@i.Id</td>
                    <td>@i.PaymentNo</td>
                    <td>@i.PaymentDate.ToString("dd-MMM-yyyy")</td>
                    @{
                        var supplierName = db.SupplierMasters.AsNoTracking().Where(a => a.Id == i.SuppilerId).Select(a => a.SupplierName).FirstOrDefault();
                    }
                    <td>@supplierName</td>
                    <td>@i.PaymentAmount</td>
                    <td class="text-center">
                        <div>
                            @if (i.IsPosted == 0)
                            {
                                <a class="btn btn-primary btn-xs" id="btnEdit" href="@Url.Action("AddEditSupplierPayment", "SupplierPayment", new { id = @i.Id })">
                                    <i class="fa fa-edit"></i>  Edit </a>
                                <a onclick="PostItem(@i.Id)" id="btnDelete" class="btn btn-primary btn-xs"><i class="fa fa-xing"></i> Post</a>
                                <a onclick="DeleteItem(@i.Id)" id="btnDelete" class="btn btn-danger btn-xs"><i class="fa fa-xing"></i>  Delete</a>                                
                            }
                            else
                            {
                                <a class="btn btn-default btn-xs" id="btnEdit" href="@Url.Action("AddEditSupplierPayment", "SupplierPayment", new { id = @i.Id })">
                                    <i class="fa fa-eye"></i>  View </a>
                            }
                            <a href="@Url.Action("SupplierPaymentReport","SupplierPayment",new { id=i.Id })" target="_blank" id="" class="btn btn-danger btn-xs bg-purple"><i class="fa fa-file-pdf-o"></i> Print</a>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>

</table>

<script type="text/javascript">

    $(document).ready(function () { $('#example').DataTable(); });
    function DeleteItem(id) {

        bootbox.confirm({
            title: "Delete Item?",
            message: "Do you really want to delete this item.",
            buttons: {
                cancel: { label: '<i class="fa fa-times"></i> Cancel' },
                confirm: { label: '<i class="fa fa-check"></i> Confirm' }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: '@Url.Action("DeleteItem", "SupplierPayment")?id=' + id + '&status=d',
                        dataType: 'json',
                        data: { id: id },
                        type: "POST",
                        success: function (reponse) {
                            var jsonData = $.parseJSON(reponse);
                            $.notify({ message: jsonData.Message }, { type: 'success' });

                            var url = '@Url.Action("SearchSupplierPayment", "SupplierPayment")';
                            $("#ClassListing").load(url);
                        },
                        error: function (reponse) {
                            bootbox.alert("error : " + reponse.error().responseText);
                        }
                    });
                }

            }
        });
    }

    function PostItem(id) {

        bootbox.confirm({
            title: "Post Item",
            message: "Do you really want to post this invoice.",
            buttons: {
                cancel: { label: '<i class="fa fa-times"></i> Cancel' },
                confirm: { label: '<i class="fa fa-check"></i> Confirm' }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: '@Url.Action("DeleteItem", "SupplierPayment")?id=' + id + '&status=p',
                        dataType: 'json',
                        data: { id: id },
                        type: "POST",
                        success: function (reponse) {
                            var jsonData = $.parseJSON(reponse);
                            $.notify({ message: jsonData.Message }, { type: 'success' });

                            var url = '@Url.Action("SearchSupplierPayment", "SupplierPayment")';
                            $("#ClassListing").load(url);
                        },
                        error: function (reponse) {
                            bootbox.alert("error : " + reponse.error().responseText);
                        }
                    });
                }

            }
        });
    }
</script>