
@{
    Layout = null;
}

@model IEnumerable<IMS.DataContext.PrefixMaster>
<script src="~/Scripts/bootbox.min.js"></script>


<table id="example" class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>S.No.</td>
            <th>Prefix Name</th>
            <td>Starting From</td>
            <th>Page Number</th>
            <th>Description</th>
            
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int index = 0;
        }
        @if (Model.Count() > 0)
        {
            foreach (var i in Model)
            {
                index++;
                <tr>
                    <td>@index</td>
                    <td>@i.PrefixName</td>
                    <td>@i.StartingFrom</td>
                    <td>@i.PageNumber</td>
                    <td>@i.Description</td>

                
                    <td class="text-center">
                        <div>
                            <a class="btn btn-primary btn-xs" id="btnEdit" data-toggle="modal" data-target="#m-modal" onclick="AddEdit(@i.Id)"><i class="fa fa-edit"></i></a>
                            @*<a onclick="DeleteItem(@i.Id)" id="btnDelete" class="btn btn-danger btn-xs"><i class="fa fa-xing"></i></a>*@
                        </div>

                    </td>
                </tr>
                            }
                        }


    </tbody>

</table>

<script type="text/javascript">
    $(document).ready(function () { $('#example').DataTable(); });



    function DeleteItem(id) {

        bootbox.confirm({
            title: "Delete Item?",
            message: "Do you really want to delete this item.",
            buttons: {
                cancel: { label: '<i class="fa fa-times"></i> Cancel' },
                confirm: { label: '<i class="fa fa-check"></i> Confirm' }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: '@Url.Action("DeleteItem", "PrefixMaster")?id=' + id + '',
                        dataType: 'json',
                        data: { id: id },
                        type: "POST",
                        success: function (reponse) {
                            var jsonData = $.parseJSON(reponse);
                            $.notify({ message: jsonData.Message }, { type: 'success' });

                            var url = '@Url.Action("SearchPrefixMaster", "PrefixMaster")';
                            $("#ClassListing").load(url);
                        },
                        error: function (reponse) {
                            bootbox.alert("error : " + reponse.error().responseText);
                        }
                    });
                }

            }
        });
    }

    function AddEdit(id) {
        var url = '@Url.Action("AddEditPrefixMaster", "PrefixMaster")?id=' + id + '';

        $("#modal-heading").text("Edit Item");
        $("#m-modal-body").load(url);
    }
</script>