
@{
    ViewBag.Title = "PurchaseReturnReport";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
    int index = 0;
}
@model IMS.Models.PurchaseReturn.PurchaseReturnReportViewModel

<div class="row">
    <div class="col-md-4 invoice-col">
        <label>Date : </label>@Model.Date<br />
        <label>Return Number : </label>@Model.ReturnNo<br />
        <label>Supplier : </label>@Model.Supplier<br />
        <label>Invoice Number : </label>@Model.InvoiceNo<br />
        <label>Invoice Date : </label>@Model.InvoiceDate<br />
    </div>
    <br />
</div>

<div class="row">
    <div class="col-xs-12 table-responsive">
        <table class="table table-striped" id="tblList">
            <thead>
                <tr>
                    <td>S.No.</td>
                    <td>Product</td>
                    <td>Qunatity</td>
                    <td>Free Qty</td>
                    <td>Total Qty</td>
                    <td>Return Qty</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.DetailList.Count() > 0)
                {
                    foreach (var i in Model.DetailList)
                    {
                        index++;
                        <tr>
                            <td>@index</td>
                            <td>@i.Product</td>
                            <td>@i.Quantity</td>
                            <td>@i.FreeQty</td>
                            <td>@i.TotalQty</td>
                            <td>@i.ReturnQty</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="6">No Data Found....</td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
    <!-- /.col -->
</div>
