@using IMS.DataContext
@{
    Layout = null;
    int index = 0;

    IMSContext db = new IMSContext();

}

@model IEnumerable<IMS.DataContext.PurchaserInvoiceHeader>
<script src="~/Scripts/bootbox.min.js"></script>
<div class="table table-responsive">
    <table id="example" class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <td>S.No.</td>
                <td>Invoice Date</td>
                <td>Invoice No</td>
                <td>Supplier Name</td>
                <td>Invoice Type</td>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var i in Model)
            {
                index++;
                <tr>
                    <td>@index</td>
                    <td>@i.Date.ToString("dd-MMM-yyyy")</td>
                    <td>@i.InvoiceNo</td>
                    @{
                        var supplierName = db.SupplierMasters.AsNoTracking().Where(a => a.Id == i.SupplierID).Select(a => a.SupplierName).FirstOrDefault();
                        var invType = i.InvoiceType == "1" ? "Cash" : "Credit";
                    }
                    <td>@supplierName</td>
                    <td>@invType</td>
                    <td class="text-center">
                        <div>
                            @*<a class="btn btn-primary btn-xs" id="btnEdit" href="@Url.Action("ProductMaster", "ProductMaster", new { id = @i.ProductId })">
            <i class=" fa fa-edit">
            </i>
        </a>*@

                            @if (i.IsPosted == 0)
                            {
                                <a onclick="DeleteItem(@i.PurchaseInvHeadId)" id="btnDelete" class="btn btn-danger btn-xs"><i class="fa fa-xing"></i>  Delete</a>
                                <a onclick="PostItem(@i.PurchaseInvHeadId)" id="btnDelete" class="btn btn-primary btn-xs"><i class="fa fa-xing"></i> Post</a>
                                <a class="btn btn-primary btn-xs" id="btnEdit" href="@Url.Action("AddEditPurchaseInvoice", "PurchaseInvoice", new { id = @i.PurchaseInvHeadId })">
                                    <i class=" fa fa-edit">
                                    </i>  Edit
                                </a>
                            }

                            else
                            {
                                <a class="btn btn-default btn-xs" id="btnEdit" href="@Url.Action("AddEditPurchaseInvoice", "PurchaseInvoice", new { id = @i.PurchaseInvHeadId })">
                                    <i class=" fa fa-eye">
                                    </i>  View
                                </a>
                            }
                            <a href="@Url.Action("PurchaseInvoiceReport","PurchaseInvoice",new { id=i.PurchaseInvHeadId })" target="_blank" id="" class="btn btn-danger btn-xs bg-purple"><i class="fa fa-file-pdf-o"></i> Print</a>
                        </div>

                    </td>
                </tr>
                        }

        </tbody>
    </table>
</div>
<script type="text/javascript">

    $(document).ready(function () { $('#example').DataTable(); });
    function DeleteItem(id) {

        bootbox.confirm({
            title: "Delete Item?",
            message: "Do you really want to delete this item.",
            buttons: {
                cancel: { label: '<i class="fa fa-times"></i> Cancel' },
                confirm: { label: '<i class="fa fa-check"></i> Confirm' }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: '@Url.Action("DeleteItem", "PurchaseInvoice")?id=' + id + '&status=d',
                        dataType: 'json',
                        data: { id: id },
                        type: "POST",
                        success: function (reponse) {
                            var jsonData = $.parseJSON(reponse);
                            $.notify({ message: jsonData.Message }, { type: 'success' });

                            var url = '@Url.Action("Search", "PurchaseInvoice")';
                            $("#ClassListing").load(url);
                        },
                        error: function (reponse) {
                            bootbox.alert("error : " + reponse.error().responseText);
                        }
                    });
                }

            }
        });
    }

    function PostItem(id) {

        bootbox.confirm({
            title: "Post Item",
            message: "Do you really want to post this invoice.",
            buttons: {
                cancel: { label: '<i class="fa fa-times"></i> Cancel' },
                confirm: { label: '<i class="fa fa-check"></i> Confirm' }
            },
            callback: function (result) {
                if (result) {
                    $.ajax({
                        url: '@Url.Action("DeleteItem", "PurchaseInvoice")?id=' + id + '&status=p',
                        dataType: 'json',
                        data: { id: id },
                        type: "POST",
                        success: function (reponse) {
                            var jsonData = $.parseJSON(reponse);
                            $.notify({ message: jsonData.Message }, { type: 'success' });

                            var url = '@Url.Action("Search", "PurchaseInvoice")';
                            $("#ClassListing").load(url);
                        },
                        error: function (reponse) {
                            bootbox.alert("error : " + reponse.error().responseText);
                        }
                    });
                }

            }
        });
    }
</script>